/JavaFXApplication5/nbproject/private/
/EventGenius_Project/nbproject/private/
/EventGenius_Project/build/
/EventGenius_Project/dist/
/Sumar/nbproject/private/
/Pruebas/nbproject/private/
/JavaFXApplication8/nbproject/private/
